In [4]:
import pandas as pd
import numpy as np

In [7]:
pd.read_json('./movie.json')

       id                              title
0       1                             Planes
1       2  Big Mommas: Like Father, Like Son
2       3                   Babes in Toyland
3       4             Million Dollar Mystery
4       5                       Street Kings
..    ...                                ...
995   996               Journey for Margaret
996   997                    Black Hole, The
997   998                    Little Fugitive
998   999    Monty Python and the Holy Grail
999  1000           Loins of Punjab Presents

[1000 rows x 2 columns]